<!doctype html>
<html>
   <head>
      <title>Test.html</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
      <link rel="stylesheet" href="/resources/css/bootstrap.css">
      <link rel="stylesheet" href="/resources/css/bootstrap-responsive.css">
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   </head>
   <body>
	   <style>
		   .fieldset {
			    font-size: 1em;
			    padding: 0.5em;
			    border-radius: 1em;
			    font-family: sans-serif;
			}
		</style>
		
		<script>
         $(function() {
               $( "#fromDate" ).datepicker({ minDate: '-3m' , maxDate: '0' });    
               $( "#toDate" ).datepicker({ minDate: '-3m' , maxDate: '0' });  
               	var dateTypeField =  $("#date");
               	showDates(dateTypeField);
               	dateTypeField.change( function(){
         	 			showDates(dateTypeField);
               		});
               
               function showDates(dateTypeField) {
               		console.log(dateTypeField.val());	
               		if (dateTypeField.val() == "CUSTOM"){
         				$('#custom').show();		
             		}else{
             			$('#custom').hide();
             		}
               }              
               
                
          
               var makeField =  $("#make");
               showModels(makeField);
               makeField.change( function(){
             		showModels(makeField);
               });
               
               function showModels(makeField) {
               		var val = makeField.val();
               		console.log(val);	
         	 		if (val != "ALL"){
         	 		var newBrandMap = { 
							#foreach ( $mapEntry in ${orderStats.getAllBrandsMap().entrySet()} )
								'$mapEntry.key' : [ #foreach ( $brand in $mapEntry.value ) #if($foreach.index > 0) , #end '$brand' #end ] ,
							#end							
						}; 
         	 			 
         	 			$('#modelSelect').empty();
         	 			$('#modelSelect').append('<option value="ALL">ALL</option>');
         	 			$.each( newBrandMap , function( key, value ) {
         	 				if(key == val){
         	 					$.each(value, function( intIndex, objValue ) {
    								$('#modelSelect').append("<option >" + objValue + "</option>");
								});
         	 				}         	 				
						});
         				$('#modelDiv').show();		
             		}else{
             			$('#modelDiv').hide();
             		}
               }
         });        
          
      	</script>
          
      <form action="/order-explorer/product" method="get">
	  #springBind("orderExplorerForm")
	      
	      <div class="navbar navbar-fixed-top">
	         <div class="navbar-inner">
	            <div class="container"></div>
	         </div>
	      </div>
	      <div class="container">
	         <div class="hero-unit hidden-phone">
	            <div width="10%">
	               OrderType :
	               #springFormSingleSelect( "orderExplorerForm.orderType" $orderTypes "class='input span2' style='margin-right: 30px;'")
	                             
	               Make:
	                #springFormSingleSelect( "orderExplorerForm.make" $brands "id='make' class='input span2' style='margin-right: 30px;'")
	                              
	               Date:
	                #springFormSingleSelect( "orderExplorerForm.date" $dateTypes "id='date' class='input span2' style='margin-right: 30px;margin-bottom:5px;'")
	               
	               <input type="submit"  value ="Explore"  id="button" align="right" style="margin-right: 30px;"/>                   
	            </div> 
	            <div width="10%">
	            	<div width="10%" id="modelDiv" style="display: none;padding-left:181px;float:left">
	               		Model:
	               		#springFormSingleSelect( "orderExplorerForm.model" $models "class='input span2'") 
	               </div>
	               
	               	<div id="custom" style="display: none;float:left;padding-left: 31px">
	                  From  #springFormInput("orderExplorerForm.fromDate", "id='fromDate' class='input span1'")
	                  To #springFormInput("orderExplorerForm.toDate", "id='toDate' class='input span1'")
	               </div> 
	            	                
	            </div>           
	         </div>
	         <div class="row main-features">
	            $!content
	         </div>
	      </div>
	      <div class="navbar navbar-fixed-bottom">
	         <div class="navbar-inner">
	            <div class="container"></div>
	         </div>
	      </div>
      </form>
   </body>
</html>